* {
  padding: 0;
  margin: 0;
}
.main {
  margin-top: 20px;
}
.language-text {
  overflow: hidden;
  width: 100%;
  height: 300px;
  resize: none;
}
.limit-text {
  text-align: right;
}
.target-language-div {
  position: relative;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  display: none;
}
.md-translate-btn {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
